.Popup{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    &-content{
        //for test
        width: 320px; 
        min-height: 300px;
        //
        background-color: #fff ;
    }
}

.Popup.true{
    display: flex;
}
.Popup.false{
    display: none;
}